h1{
    border: 2px solid black;
    border-radius: 3px;
    background-color: #FFFFFF;
    font-size: 4em;
    color: black;
    -webkit-text-fill-color: transparent;
    background-size: 450% 100%;
    transition: all, 2s;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left,#FF0000 11.1%, #FF6000 22.2%, #EEE000 33.3%, #00FF00 44.4%, #007700 55.5%, #00FFF0 66.6%, #003e9b 77.7%, #6150fa 88.8%, #FF00FF 100%);
    padding: 10px 10px;
    -webkit-align-self: center;
    margin: 1% 1%;
    align-self: center;
    width: 80%;
    position:sticky;
}
h1:hover{
    background-position: top left 100%;
}
img{
    height:100px;
    border: "3px crimson dashed";
}
